.banner-2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  a {
    width: 600px;
    height: auto;
    margin: 5px;
    border-radius: 15px;
    img {
      width: 100%;
      border-radius: 15px;
    }
  }
}
