.bannerandtext {
  width: 100%;
  height: auto;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  .bannrandtext-center {
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .bannrandtext-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        font-family: yekan;
        font-size: 18px;
        color: #242424;
        font-weight: bold;
      }
      a {
        font-family: yekan;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: normal;
        color: rgb(59, 157, 202);
        text-decoration: none;
        font-weight: bold;
      }
    }
    .bannrandtext-bot{
        width: 100%;
        height: auto;
        margin: 15px 0;
        ul{
            width: 100%;
            display:flex;
            align-items: center;
            justify-content: space-between;
            li{
                width: 300px;
                height: 250px;
                border: 1px solid #bbb;
                border-radius: 10px;
                overflow: hidden;
                a{
                    text-decoration: none;
                    p{
                        font-family: yekan;
                        font-size: 14px;
                        margin: 5px 10px;
                        color: #242424;
                    }
                }
            }
        }
    }
  }
}
